{{template "top" .}}
<title> New Pizza Order</title>
</head>
<body class="bg-gradient-to-br from-amber-50 to-rose-50 min-h-screen">
<div class="">
    <p class="">This will be the order form page</p>
</div>
{{template "bottom" .}}